// ===========> Media query for 400px
@media screen and (min-width: 400px) {
  div.contact {   
    position: relative;
    top: 150px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px 150px;
    padding: 0 10px;

    div.officecontact {
      height: 400px;
      background-color: rgb(40, 38, 38);
      padding: 20px;
      margin-bottom: 50px;
      width: 350px;
      h3 {
        text-align: center;
        color: brown;
        margin-bottom: 20px;
      }
      div.contact-details {
        text-align: start;
        p {
          font-size: 1rem;
          span {
            font-size: 1.2rem;
            color: brown;
          }
        }
      }
    }

    div.customercontact {
      //   border: 2px solid red;
      background-color: rgb(40, 38, 38);
      padding: 20px;
      margin-bottom: 50px;
      height: 400px;
      h3 {
        text-align: center;
        color: brown;
        margin-bottom: 20px;
      }
      form.customerdetails {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 0 auto;
        div {
          margin-bottom: 20px;
          input {
            height: 35px;
            border-radius: 5px;
            padding: 4px;
            color: #000;
          }
        }
        button {
          padding: 0.6rem;
          border-radius: 0.2rem;
          font-size: 1rem;
          width: 100px;
          margin: 10px auto;
          background-color: brown;
        }
        button:hover {
          background-color: red;
          inset: 0.8rem;
        }
      }
     
    }
  }

}

// ===========> Media query for 800px
@media screen and (min-width: 800px) {
  div.contact {
    flex-direction: row;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 0 30px 150px;
    height: 80vh;
  }
}

// ===========> Media query for 1200px
@media screen and (min-width: 1200px) {
}
